/* #region media query */

/* #region phone large */
@media screen and (min-width: 576px) {

    body {

        .socials {
            
            #p-lrg1 {
                padding: .35rem 1.75rem;
            }
                       
            #p-lrg2 {
                padding: .35rem 1.75rem;
            }
                       
            #p-lrg3 {
                padding: .35rem 1.75rem;
            }
                       
            #p-lrg4 {
                padding: .35rem 1.75rem;
            }
                       
            #p-lrg5 {
                padding: .35rem 1.75rem;
            }
        }
    }
}

/* #endregion phone large */

/* #region tablet */
@media screen and (min-width: 768px) {

    body {

        /* #region main */
        .title {
            display: inline-block;
        }

        /* #region card */
        .card {

            .card-bottom {

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                }
            }
        }

        /* #endregion card */

        /* #region socials */
        .socials {
            padding: .35rem 2.75rem;
        }

        /* endregion socials */

        /* #endregion main */
    }
}

/* #endregion tablet */

/* #region desktop */
@media screen and (min-width: 992px) {

    body {
        .display {
            display: inline-block;
        }

        .card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .card-bottom {
                width: 40%;
            }
        }


        .container {
            max-width: 1440px;
            width: 90%;
            margin: auto
        }

        /* #region header */
        header {

            .desk {
                text-align: left;
                padding-left: 1rem;
            }
        }

        /* #endregion header */

        /* #region main */

        /* #region lista */
        ul {
            display: list-item;
            
            li {
                text-align: left;
            }
        }

        /* #endregion lista */

        /* #region socials */
        .socials {
            padding: 1rem;

            .shadow {
                
                #p-lrg1 {
                    padding: .35rem 0.75rem;
                }
                           
                #p-lrg2 {
                    padding: .35rem 0.75rem;
                }
                           
                #p-lrg3 {
                    padding: .35rem 0.75rem;
                }
                           
                #p-lrg4 {
                    padding: .35rem 0.75rem;
                }
                           
                #p-lrg5 {
                    padding: .35rem 0.75rem;
                }

                span.display {
                    color: black;
                    font-size: small;
                    font-weight: 700;
                }
            }
        }

        /* #endregion socials */

        /* #region presentazione */
        
        .present {

            .float {
                margin: 0;
                float: left;
                max-width: 30%;
            }
        }

        /* #endregion presentazione */

        /* #endregion main */

        /* #region footer */
        footer {
            display: flex;
            flex-direction: row;

            .left {
        
                p {
                    text-align: left;
                }
            }

            .right {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;

                a {
                    padding: .5rem;
                }
            }
        }

        /* #endregion footer */
    }
}

/* #endregion desktop */

/* #endregion media query */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-primary: #f6972e;
    --secondary-footer: #7c69a4;
    --secondary-bg-card: #f6f5f9;
    --background-main: #f6f5f3;
    --facebook: #1a77f3;
    --twitter: #009eff;
    --instagram: #e276a5;
    --pinterest-youtube: #e62223;
    --font-purple: #4e3969;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {

    li {
        display: flex;
        list-style: none;
    }
}

.strong {
    font-weight: 700;
}

.flex {
    display: flex;
}

.container {
    width: 90%;
    margin: auto
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    background-color: white;
}

.card-bottom {
    padding: 1rem;
}

.col-12 {
    background-color: var(--secondary-bg-card);
}

.shadow {
    box-shadow: 2px 2px 5px gray;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.display {
    display: none;
}

/* #endregion common */

/* #region header */
header {
    font-family: "Nerko One", cursive;
    color: var(--title-primary);

    h1 {
        font-weight: 100;
        text-shadow: 2px 2px 2px gray;
        text-align: center;
    }
}

/* #endregion header */

/* #region main */
main {
    background-color: var(--background-main);

    p:first-child {
        color: gray;
        padding-top: 1rem;
    }

    h1 {
        color: var(--font-purple);
        padding: 1rem 0;
    }

    h2 {
        font-weight: 500;
    }

    hr {
        border: 1px solid var(--title-primary);
        width: 20%;
        margin: .5rem 0;
    }

    /* #region card */
    .card {

        .flex {
            justify-content: space-between;
            align-items: center;
        }
    }

    /* #endregion card */

    /* #region lista */
    ul {
        padding: 1rem 0;

        h3 {
            padding-bottom: 1rem;
        }

        li {
            line-height: 1.5rem;

            i {
                color: var(--title-primary);
                padding-right: 0.5rem;
            }

            span {
                padding: 0 .15rem;
            }
        }
    }

    /* #endregion lista */

    /* #region socials */
    .socials {
        padding: 2rem 0;

        .shadow {
            padding: .35rem .75rem;
            border-radius: 1rem;

            .fa-facebook {
                color: var(--facebook);
            }

            .fa-twitter {
                color: var(--twitter);
            }

            .fa-instagram {
                color: var(--instagram);
            }

            .fa-pinterest {
                color: var(--pinterest-youtube);
            }

            .fa-youtube {
                color: var(--pinterest-youtube);
            }
        }
    }

    /* #endregion socials */

    /* #region presentazione */
    .present {
        padding: 2rem 0;

        .img {
            width: 70%;
            margin: auto;
        }

        p {
            line-height: 1.5rem;
        }
    }

    /* #endregion presentazione */
}

/* #endregion main */

/* #region footer */
footer {
    background-color: var(--secondary-footer);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            padding: .5rem;
            text-align: center;
        }
    }

    .right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            color: white;
            padding: 1rem;
        }
    }
}

/* #endregion footer */