/* #region media query */

/* #region tablet */
@media screen and (min-width: 768px) {

}

/* #endregion tablet */

/* #region desktop */
@media screen and (min-width: 992px) {

    .container {
        max-width: 1440px;
        width: 90%;
        margin: auto
    }
}

/* #endregion desktop */

/* #endregion media query */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-primary: #f6972e;
    --secondary-footer: #7c69a4;
    --secondary-bg-card: #f6f5f9;
    --background-main: #f6f5f3;
    --facebook: #1a77f3;
    --twitter: #009eff;
    --instagram: #e276a5;
    --pinterest-youtube: #e62223;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    margin: auto
}

.container-sm {
    width: 70%;
    margin: auto
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.banner {
    display: none;
}

/* #endregion common */

/* #region debug */
.debug * {
    border: 1px dashed black;
}

/* #endregion debug */

/* #region header */
header {
    font-family: 'Nerko One', cursive;
    color: var(--title-primary);
}

/* #endregion header */

/* #region main */
main {
    background-color: var(--background-main);
}

/* #endregion main */

/* #region footer */
footer {
    background-color: var(--secondary-footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion footer */